body {
	background-color: cornsilk;
	text-align:center;
	width: 100%;
  height: auto;
}

h1 {
	color: black;
	font-size: 60px;
	text-shadow: 1px 1px 1px #ccc;
}

p {
	color:black;
	font-size: 20px;
}

li {
	font-size: 20px;
	color: black;
}



